.box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #ededed;
}

.box__error {
  border-color: red;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input_name {
  font-size: 24px;
  padding: 16px 16px 16px 60px;
  border: none;
  width: 400px;
  flex-grow: 1;
}

.input_min,
.input_sec {
  min-width: 70px;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: inherit;
  border: none;
  width: 50px;
}

.error {
  color: red;
  padding: 8px 8px 8px 60px;
}
